body {
    background: url("/bg.jpg") no-repeat center top;
    /* background-size:contain; */
}

.header {
    width: 1198px;
    height: 73px;
    /* margin: 40px auto; */
    line-height: 73px;
    color: #f8b770;
    /* background-color: rebeccapurple; */
    margin: 0 auto;
    /* text-align: center; */
    margin-top: 45px;
    background: url(bg_nav.jpg) no-repeat 0 0/100% 100%;
    border: 1px solid #3f2a22;
    position: relative;
    border-left: none;
    border-right: none;
}

.header nav a {
    float: left;
    width: 161px;
    height: 73px;
    /* background-color: red; */
    text-align: center;
    border: 1px solid #3f2a22;
    box-sizing: border-box;
    border-top: none;
    border-bottom: none;
}

.header nav a:nth-child(3) {
    margin-right: 232px;
}

.header .logo {
    position: absolute;
    width: 238px;
    height: 118px;
    background: url(logo.png) no-repeat;
    left: 6px;
    right: 0px;
    top: -37px;
    margin: auto;
}

.header .logo h1 {
    display: none;
}

.menu {
    text-align: center;
    /* background: red; */
    margin-top: 510px;
}

.menu a {
    display: inline-block;
    width: 325px;
    height: 105px;
    background: red;
    background: url(btns.png) no-repeat
}

.menu a span {
    display: none;
}

.menu a .download {
    background-position: -323 0;
}

.adv {
    width: 1203px;
    margin: 76px auto;
}

.adv .item {
    float: left;
    width: 290px;
    height: 200px;
    margin-right: 13px;
    /* border: 2px solid #3f2a22;
    box-sizing: border-box; */
    outline: 1px solid #3f2a22;
    
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.adv .item .title {
    height: 55px;
    text-align: center;
    line-height: 50px;
    background: #211510;
    color: #f8b700;
    border-bottom: 1px solid #3f2a22;
    box-sizing: border-box;
}

.adv .item .img {
    height: 150px;
}

.adv .item .img img {
    width: 290px;
    height: 151px;
    
}

.adv .item:last-child {
    margin-right: 0px;
}